<html>
<head>
    <meta charset="UTF-8" />
    <h1>LOL Character Add Form</h1>
</head>
<body>
    <br>
    <form name="input" method="post" action="./LOLCharacter" enctype="multipart/form-data">
        이름 : 
        <input type="text" name="name"> <br>
        특징 : 
        <input type="text" name="characteristic"> <br>
        설명 : 
        <input type="textarea" name="explanation" style="width:300px;height:200px;font-size:12px;word-break:break-all;"> <br>
        마지막 출시 스킨 : 
        <input type="text" name="latelySkin"> <br>

        <input type="submit" value="추가">
        <input type="button" value="취소" onclick="location.href='http://localhost:3000/LOLCharacter'">
    </form>
</body>
</html>