<html>
<head>
    <meta charset="UTF-8" />
    <h1>LOL Character List</h1>
</head>
<body>
    <ul>
        <% data.forEach(function(item) { %>
            <li>
                 <a href="../LOLCharacter/<%= item.characterId %>"> <%= item.name %> 
            </li>
        <% }) %>
    </ul>
    <br>
    <a href="../LOLCharacterAdd">추가</a>
</body>
</html>